.board-class{
    display: flex;
    flex-direction: column;
}
.board-row{
    display: flex;
    flex-direction: row;
}
.board-column{
    display: flex;
    flex-direction: column;
}
.cell-black{
    width: 5vw;
    height: 5vw;
    background-color: black;
}
.cell-white{
    width: 5vw;
    height: 5vw;
    background-color: rgb(164, 164, 164);
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 43vw;
    background-color: rgb(228, 228, 228);
    border: 1.5px solid black;
    width: 43vw;
    
}
html{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.letter{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5vw;
    height: 1.5vw;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.2vw;
}
.number{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1.5vw;
    height: 5vw;
    font-size: 1.2vw;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}