.word {
    display: flex;
    font-size: 5vw;

}

.letter {
    margin-left: 1vw;
    background-color: black;
    color: black;
    width: 9.5vw;
    height: 8vw;
    border-radius: 0.5vw;
    padding-top: 1.5vw;
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background-color: #ece1d8;
    font-size:1.5vw;
}

#guess-button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1vw;
}