body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: bisque;
}

.word {
    display: flex;
}

.letter {
    margin-left: 1vw;
    background-color: black;
    color: black;
    border-radius: 0.1vw;
    width: 4vw;
    height: 4vw;
}

#word-input {
    display: flex;
    align-items: center;
    text-align: center;
}
#question{
    text-align: center;
}